.nav {
  &-list {
    display: flex;
    justify-content: center;
    background: darkcyan;
    margin: 0;
    padding: 0;
  }

  &-item {
    display: flex;
    list-style-type: none;
  }

  &-link {
    padding: 5px 20px;
    color: white;
    text-decoration: none;
  }
}